
<br/><br>
<footer>
        <!--display csumb logo-->
        <img class="imgCSUMB" src="/img/csumbLogo.png" alt="csumb" />
        
        <!--displays bottom information-->
        <h4 class="centerText">CST438 Grop_J S2020 Project 2 CSUMB Software Engineering &copy;</h4>
        
        <!--display current time-->
        <iframe class="centerIMG" src="https://freesecure.timeanddate.com/clock/i6wwd5r2/n3691/fn2/fcfff/tct/pct/ftb/bas4/pa2/tt0/tw1/th2/tb4" frameborder="0" width="207" height="52" allowTransparency="true"></iframe>
        
</footer>

</body>

</html>