<!DOCTYPE html>
<html>
    <head>
        <title>Group J project 2 cst438</title>
     
      <meta charset="utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
    
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <!--<script SRC='js/functions.js'></script>   -->
      
      <!--this is for the font-->
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
      
    </head>
    
    <body>
        <!--Top display Navigation Bar-->
        <!--<h5 class="centerText"> Navigation Tabs :: Click on a tab to learn more</h5>-->
        
        <div class="nav" background="img/img.png" width="400">
            <a href="/"> HOME </a>
            <a href="/"> ABOUT </a>
            <a href="/"> CONTACT </a>
            <input type="text" placeholder="Search by Title, Author, or ISBN...">
            <button id="submitButton" type="submit">Enter</button>
            <button onclick="location.href='login.ejs';">Log In!</button>
            <button onclick="location.href='signUp.ejs';">Sign Up!</button>
        </div>
        
        <marquee><h4 id="bottomInfo">Welcome to our book store, Please click on any of the links above to learn more! Created 9/29/20 __________________ Thank you for visiting! ___________________Buy Something!______  </h4></marquee>
        
        
            
                        <br/><br/>