<!DOCTYPE html>
<html>
    <head>
        <title>Group J project 2 cst438</title>
     
      <meta charset="utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
      <!--<script SRC='js/functions.js'></script>   -->
      
      <!--this is for the hamburger logo in navigation bar-->
      <link href="dist/hamburgers.css" rel="stylesheet">
      
      <!--this is for the font-->
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
      
      <!--this is for the bootstrap-->
      <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    </head>
    
    <body>
        <!--links to css file-->
        <link href="../css/styles.css" rel="stylesheet" type="text/css">
        
        <!--Top display Navigation Bar-->
        <div class="nav" width="400">
            <a class="leftA" href="/"> HOME </a>
            <a class="leftA" href="/about"> ABOUT </a>
            <a class="leftA" href="/contact"> CONTACT </a>
            
            <form id="searchBar">
                <input id="search" name="search" value="<%searchTerm%>" type="text" placeholder="Search by Title, Author, or ISBN...">
                <select name="genre" onchange="this.form.submit()"> 
                    <option value="">Select Genre</option>
                    <option value="novel" <% if (genre == "novel"){ %> selected } <% } %> >novel</option>
                    <option value="fantasy" <% if (genre == "fantasy"){ %> selected } <% } %> >fantasy</option>
                    <option value="kids" <% if (genre == "kids"){ %> selected } <% } %> >kids</option>
                    <option value="mystery" <% if (genre == "mystery"){ %> selected } <% } %> >mystery</option>
                    <option value="dystopian" <% if (genre == "dystopian"){ %> selected } <% } %> >dystopian</option>
                </select>
            </form>
            
            <button class="rightA" type="submit">Enter</button>
            <a class="rightA" href="/login"><button>Log In!</button></a>
            <a class="rightA" href="/logout"><button>Log Out!</button></a>
            <a class="rightA" href="/signUp"><button>Sign Up!</button></a>
        </div>
        
        <marquee><h4 id="bottomInfo">Welcome to our book store, Please click on any of the links above to learn more! Created 9/29/20 __________________ Thank you for visiting! ___________________Buy Something!______  </h4></marquee>
        
        
            
                        <br/><br/>