<% include partials/head.ejs %>

    <h1>This is the About Page! </h1>
    
    <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
    
<% include partials/footer.ejs %>