<% include partials/head.ejs %>

    <h1 class="centerText">This is the Contact Page! </h1>
    
    <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>

<% include partials/footer.ejs %>