<% include partials/head.ejs %>

    <h1 class="centerText">Contact us Here! </h1>
    
    
    <center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfUa5wFnuRsvURR4KDmMAYKy2jfnYWqr_qpg_nMRsFsGsURXg/viewform?embedded=true" 
     width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></center>
    
    
    <!--<img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>-->

<% include partials/footer.ejs %>