<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome our book store! </h1>
        
        <p class="centerText">cite is currently<strong>under construction</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/books.png" width="300" alt="Trinity Select library"/>
        
        
        
           <h3> TO DO:  </h3>
                    <ul id="fill1" style="list-style-type:circle;">
                <h3 class"centerText"><strong>user stories</strong></h3>
                    <li>Login</li>
                    <li>View Products</li>
                    <li>Save Cart</li>
                    <li>buy</li>
                    <li>logout</li>
                
                    
                
                <h3 class"centerText"> Completed:</h3>
                    <li>fill1</li>
                    <li>fill2</li>
                    <li>fill3</li>
        
<% include partials/footer.ejs %> 