<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome to our book store! (temp main page) </h1>
        
        <p class="centerText">Test!!</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
        
        <form action="/main" method="GET">
        	<div class='form-group row'>
        		<label style="text-align:right;" for='name' class='col-sm-4 col-form-label'></label>
        		<div class='col-sm-4'>
        			<select id="name" name="name">
        				<%bookInfo.forEach(function(title){%>
        		            <option id="name" name ="name" value='<%=title%>'></option>
        		        <%});%>
        			</select>
        		</div>
        	</div>
        </form>
        

        
<% include partials/footer.ejs %> 