<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome to our book store! (temp main page) </h1>
        
        <p class="centerText">Test!!</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        

        <% bookInfo.forEach(function(b) { %>
            <%= b %>
        <% }) %>

        
<% include partials/footer.ejs %> 