<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome our book store! </h1>
        
        <p class="centerText">cite is currently<strong>under construction</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        Results:
        <div id="results">
                <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
                <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
        </div>
                
        Suggestions: 
        <div id="suggestions">
                <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
                <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
        </div>
                
        
        
           <h2>Search Results</h2>
           <div id="results"></div>
        
<% include partials/footer.ejs %> 