<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome our book store! </h1>
        
        <p class="centerText">cite is currently<strong>under construction</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
        <h4 id="bottomInfo"> This will be the Sign Up! </h4>
        
<% include partials/footer.ejs %> 