<% include partials/head.ejs %>
        
        <div class = "LoginClass">
                
            <h2>Welcome to the Sign Up Page</h2>
            
            <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
            
            <h2>Username must be greater than 5 characters<br>
                Password must be at least 8 characters long
            </h2>
            <br>    
            <form action='/signup' method='POST'>
                <label for = "newUsername">Username: <br></label>
                <input type = "text" id = "newUsername" name = "newUsername" placeholder='New Username' pattern = ".{5,}" required> 
                <br>
                <label for = "newPassword">Password: </label>
                <input type = "password" id = "newPassword" name = "newPassword" placeholder = "New Password" pattern = ".{8,}" required>
                <br>
                <label for = "confirmPassword">Re Enter Password: </label> 
                <input type = "password" id = "confirmPassword" name = "confirmPassword" placeholder = "Re Enter Password" pattern = ".{8,}" required>
                <br>
                <button class="cartButt">Sign Up!</button>
                <br>
                <%if(signUpError){%>
                    <h1 class="centerText" style="color:red;">Username Taken!</h1>
                    <%}%>
                <%if(dontMatch){%>
                    <h1 class="centerText" style="color:red;">Passwords Do Not Match! Re Enter Info</h1>
                    <%}%>
            </form>
        </div>
        
<% include partials/footer.ejs %> 