<% include partials/head.ejs %>
        <h1 class="centerText"> This will be the Sign Up! </h1>
        
        <p class="centerText">cite is currently<strong>under construction</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        

                <div class = "LoginClass">
                
                <link href="css/styles.css" rel="stylesheet" type="text/css" />
                
                <h2>Welcome to the Login Page</h2>
                
                <img  src="img/newuserbook.jpg" width="300" alt="Trinity Select library"/>
                
                <p>Please enter a username</p>
                <p>User name must contain numbers and characters only.</p>
                <input id = "newUsername" type = "text"> 
                <br>
                <p>Password Must be 8 characters long.</p>
                <input id = "newPassword" type = "password">
                 <br>
                 <p>Confirm Password.</p>
                 <input id = "confirmPassword" type = "password">
                
                 <br><br>
                
                <button id = "newUserButton">Confirm New User </button>
                <br><br>
                
                <%if(signUpError){%>
                        <h1 class="centerText" style="color:red;">Username Taken!</h1>
                        <%}%>

                <%if(dontMatch){%>
                    <strong>User name Taken!</strong>
                    <br>
                    <%}%>


                </div>

        
        <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
    
        
        <h4 id="bottomInfo"> This will be the Sign Up! </h4>
        
<% include partials/footer.ejs %> 