<% include partials/head.ejs %>
        <%if (success) {%>
            <h1 class="centerText"><br> Item has been added to your cart!</h1>
        <%}%>
        <br>
        <p></p>
        
        <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
        
<% include partials/footer.ejs %> 