/*background color body*/
body { 
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	
    background-color : white; 
    color:black; 
    font-family: 'Source Sans Pro', sans-serif;
}
/*background color not body*/
header, main, .nav, footer 
{
	padding-top: 5px;
	padding-bottom: 5px;
    background-color: black; 
}

/*CSS for Navigation Bar*/
.leftA
{
    font-size: 1.5em; 
    color: white; 
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}
.leftA:hover
{
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 8px cyan;
    text-decoration: none;
    transition: 2s;
}

/*CSS for search bar*/
.nav input[type=text]{
	float: right;
	padding: 6px;
	margin: 15px 0px 15px 40px;
	border: none;
	font-size: 20px;
	width: 500px;
}

/*CSS for buttons*/
button{
	display: inline-block;
	border:0.1em solid white;
	width: 82px;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration:none;
	color:black;
	text-align:center;
	transition: all 0.2s;
}
button:hover{
	/*#80FFFF -- light cyan*/
	color: #80FFFF;
	text-shadow: 2px 2px 8px #80FFFF;
	background-color: black;
	border:0.1em solid #80FFFF;
}
/*enter*/
.nav button{
	/*background-color: green;*/
	margin: 15px 0px 15px 0px;
}
/*right of enter*/
.nav a button{
	/*background-color: blue;*/
	margin: 22px 0px 15px 12px;
}

/*CSS for the index.ejs file*/
.grid-container {
	/*mobile friendly, items don't overflow*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/*gaps between items*/
	grid-gap: 15px;
	
	/*padding around square surrounding items*/
	padding: 20px;
}
.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 10px;
}

/*CSS for the productDetail.ejs file*/
.productDetail-container {
	display: flex;
	flex-wrap: wrap;
	/*position: relative;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
	
	background-color: teal;
}
.productDetailCard {
	display: flex;
	padding: 40px;
	/*background-color: teal;*/
}

/*CSS for the hamburger design in index.ejs & genreDisplay.ejs*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 */
/* in charge of the three lines */
#hamburger
{
	display: block;
	position: relative;
	margin: 20px;
	z-index: 1;
}

/* text on menu */
#hamburger a
{
  text-decoration: none;
  color: black;
  transition: color 0.8s ease;
}

/* text color after hovering */
#hamburger a:hover
{
	color: teal;
	background-color: black;
	text-shadow: 2px 2px 8px cyan;
}

/* 
 * Following two lines blends 
 * checkbox and hamburger to 
 * make one functionable menu item
 */
#hamburger input /* in charge of checkbox*/
{
	/*changes size of checkbox*/
	display: block;
	width: 50px;
	height: 35px;
	cursor: pointer;
	
	/*aligns checkbox*/
	position: absolute;
	top: -7px;
	left: -5px;
	
	/*hides the checkbox*/
	opacity: 0;
	
	/*places checkbox over hamburger to allow*/
	/*to click on hamburger and exit out of it*/
	z-index: 2;
}
#hamburger span /* in charge of hamburger logo*/
{
	/*makes hamburger logo same size as checkbox*/
	display: block;
	width: 40px;
	height: 5px;
	background: black;
	border-radius: 3px;
	
	/*positions hamburger logo with checkbox*/
	margin-bottom: 5px;
	position: relative;
	
	/*places X over hamburger to appear with menu*/
	z-index: 1;
	
	/*smoothes transition from hamburger logo to X*/
	transform-origin: 6px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
}

/*
 * Transforms hamburger logo 
 * into  a crossmark
 */
#hamburger span:first-child
{
  transform-origin: 0% 0%;
}
#hamburger span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/*makes crossmark visible*/
#hamburger input:checked ~ span 
{
	opacity: 1;
	transform: rotate(45deg) translate(0px, -1px);
	background: black;
}
/*should hide middle line, opacity doesn't work atm*/
#hamburger input:checked ~ span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  /*color: red;*/
}
/*third line goes up*/
#hamburger input:checked ~ span:nth-last-child(3)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 * Will appear when hamburger the
 * hamburger logo is pressed
 */
#menu
{
  position: absolute;
  list-style-type: none;
  background: #ededed;
  width: 300px;
  
  /*sets menu how it should look when it pops*/
  margin: -100px 0 0 -50px;
  padding: 125px 50px 50px 50px;
  
  /*hides menu unless hamburger is clicked on*/
  transform: translate(-100%, 0);
  
  /*adds animation to when menu appears*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*lets menu slide from the left*/
#hamburger input:checked ~ ul
{
  transform: none;
}

/* CSS for the footer*/

/*centers the csumb image*/
.imgCSUMB { 
    display: block;
    margin: 20px auto 20px auto;
    width: 8em;
}
/*centers all texts*/
.centerText {
    text-align:center ;
}
/*centers all images*/
.centerIMG {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}
h4{
	color: white;
}


/*----------------------------------------*/

.timer {
	padding: 10px;
	background: linear-gradient(top, #222, #444);
	overflow: hidden;
	display: inline-block;
	border: 7px solid #efefef;
	border-radius: 5px;
	position: relative;
	
	box-shadow: 
		inset 0 -2px 10px 1px rgba(0, 0, 0, 0.75), 
		0 5px 20px -10px rgba(0, 0, 0, 1);
}

.cell {
	/*Should only display 1 digit. Hence height = line height of .numbers
	and width = width of .numbers*/
	width: 0.60em;
	height: 40px;
	font-size: 50px;
	overflow: hidden;
	position: relative;
	float: left;
}

.numbers {
	width: 0.6em;
	line-height: 40px;
	font-family: digital, arial, verdana;
	text-align: center;
	color: #fff;
	
	position: absolute;
	top: 0;
	left: 0;
	
	/*Glow to the text*/
	text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/*Styles for the controls*/
#timer_controls {
	margin-top: -5px;
}
#timer_controls label {
	cursor: pointer;
	padding: 5px 10px;
	background: #efefef;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	border-radius: 0 0 3px 3px;
}
input[name="controls"] {display: none;}

/*Control code*/
#stop:checked~.timer .numbers {animation-play-state: paused;}
#start:checked~.timer .numbers {animation-play-state: running;}
#reset:checked~.timer .numbers {animation: none;}

.moveten {
	/*The digits move but dont look good. We will use steps now
	10 digits = 10 steps. You can now see the digits swapping instead of 
	moving pixel-by-pixel*/
	animation: moveten 1s steps(10, end) infinite;
	/*By default animation should be paused*/
	animation-play-state: paused;
}
.movesix {
	animation: movesix 1s steps(6, end) infinite;
	animation-play-state: paused;
}

/*Now we need to sync the animation speed with time speed*/
/*One second per digit. 10 digits. Hence 10s*/
.second {animation-duration: 10s;}
.tensecond {animation-duration: 60s;} /*60 times .second*/

.milisecond {animation-duration: 1s;} /*1/10th of .second*/
.tenmilisecond {animation-duration: 0.1s;}
.hundredmilisecond {animation-duration: 0.01s;}

.minute {animation-duration: 600s;} /*60 times .second*/
.tenminute {animation-duration: 3600s;} /*60 times .minute*/

.hour {animation-duration: 36000s;} /*60 times .minute*/
.tenhour {animation-duration: 360000s;} /*10 times .hour*/

@keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}

#bottomInfo{
	color: black;
}